@media (max-width:1400px) {
    .why {

        &-top {

            &__text {
                font-size: 4.3rem;
                padding: 30px;
            }

            &__image {}
        }
    }
}

@media (max-width:1200px) {}

@media (max-width:992px) {
    .private-body {
        padding: 60px 0px 60px 40px;
    }
}

@media (max-width:768px) {
    .header{
        padding: 20px 0;
    }

    .header-top {
        justify-content: flex-end;

        &__link {
            z-index: 11;
        }

        &-lang {
            margin-bottom: 15px;
        }
    }

    .header-logo {
        &__image {
            margin:  5px 0;
            width: 150px;
            & svg {
                width: 100%;
            }
        }
    }

    .header-menu__icon {
        display: block;
        position: absolute;
        top: 18px;
        left: 10px;
        width: 30px;
        height: 18px;
        cursor: pointer;
        span {
            left: 0px;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #000;
            transition: scale, transform 0.3s ease 0s;
            
            &:nth-child(2) {
                top: 8px;
            }

            &:first-child {
                top: 0;
            }
            &:last-child {
                bottom: 0;
            }
        }

        &.active {
            span {
                &:nth-child(2) {
                    transform: scale(0);
                }

                &:first-child {
                    transform: rotate(-45deg);
                    top: 8px;
                }

                &:last-child {
                    transform: rotate(45deg);
                    bottom: 8px;
                }
            }
        }
    }

    .header-menu__icon {
        z-index: 11;
    }

    .header-bottom__column {
        z-index: 11;
    }

    .header-bottom-menu-list {
        display: block;
        text-align: left;
        margin: 0;
        
        & li {
            margin-bottom: 15px;
        }

    }

    .header-menu {
        position: fixed;
        width: 100%;
        height: 100%;
        overflow: auto;
        left: -120%;
        top: 0;
        background-color: #fff;
        padding: 85px 10px 10px 20px;
        transition: left 0.3s ease 0s;
        z-index: 10;

        &.active {
            left: 0;
        }
    }

    .private-body {
        padding: 40px 01px 40px 10px;
        text-align: center;

        &-buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 0;

            & >*:not(:last-child) {
                margin-right: 0px;
                margin-bottom: 10px;
            }
        }
    }

    .products {
    
        &__column {
            flex: 0 0 40%;
        }

        &-body {
            justify-content: space-evenly;
        }

        &-item {

            &__btn {
                font-size: 1.2rem;
                text-align: center;
            }
        }

    }

    .why {

        &-top {

            &__column:first-child {
                flex: 1 1 100%;
                justify-content: center;
        }

            &__column:last-child {
                display: none;
            }
        }

        &-body {

            &__column {
                flex: 1 1 50%;
            }

            &-item {
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &-body {
                    padding: 5px;
                    text-align: center;

                    & > *:not(:last-child) {
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }

    .contacts {

        &-content {
            display: block;

            &__map {
                height: 300px;
            }

            &-form {
                padding: 30px;

                &-body {
                    width: 100%;
                    max-width: none;
                }
            }
        }
    }
}

@media (max-width:576px) {
    .header {
        padding: 10px 0;
    }

    .header-top {
        &__link {
            font-size: 1.4rem;
        }
}

    .header-logo {
        &__text {
            font-size: 0.85rem;
        }

        &__image {
            width: 100px;
        }
    }

    .private {

        &__wrapper {
            justify-content: center;
        }

        &__column:first-child {
            display: none;
        }

        &-body {
            &__title {
                font-size: 4rem;
            }
        }
    }

    .why {

        &-top {

            &__text {
                font-size: 4rem;
                text-align: center;
                padding: 15px;
            }
        }

        &-body {
            &__column {
                flex: 1 1 100%;
            }
        }
    }

    .contacts {
        padding: 50px 0 0 0;

        &__title {
            font-size: 4rem;
        }

        &-body {
            
            &__column {
                flex: 1 1 100%;
            }
        }
    }

    .footer {
        padding: 20px 0;

        &-body {
            height: auto;
            flex-direction: column-reverse;

            & > *:last-child {
                margin-bottom: 10px;
            }
        }
    }

}

@media (max-width:425px) {
    .header-top {
        &__link {
            font-size: 1.15rem;
        }
    } 

    .header-bottom {
        margin-top: -30px;
    }

    .products {

        &__column {
            flex: 0 0 100%;
        }

        &-item {

            &__title {
                text-align: center;
                margin: 0 auto;
            }

            &__text {
                margin: 0 auto;
                max-width: none;
            }

            &__btn {
                margin: 0 auto;
            }

            &__link {
                margin: 0 auto;
            }

        }
    }
}